<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <title>Todo app</title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>TodoApp</h1>
            <h4>Organize Your Life</h4>
            <br>
        </div>
    

    

    